body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  align-items: center;
}
.header-style {
  margin:0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
  
  background-color: black;
}
.header-nav {
  height: 100%;
  margin: 0;
  display: inline-flex;
  justify-content: space-around;
  text-decoration: underline;
  flex-basis: 400px;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
}

header img {
  height: 50px;
}

.mission {
  width: 1200px;
  height:700px;
  display: flex;
  background-image: url("images/img-mission-background.jpeg");
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.statement {
  text-align: center;
  background-color: black;
  width:100%;
  padding:0;
}

.tea-of-the-month {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tea-item img{
  height: 200px;
  width: 300px;
}
.tea-item {
  text-align: center;
}
#tea-item-display {
  display: flex;
  width:100%;
  justify-content:space-evenly;
  flex-wrap:wrap;
}
#description {
  text-align: center;
}
.locations {
  width: 1200px;
  height:500px;
  background-image: url("images/img-locations-background.jpeg");
  display: flex;
  align-items: center;
}
.location-container {
  margin-top: 15px;
  padding:0;
  display: flex;
  width: 1060px;
  justify-content: space-around;
}
.location {
  width:300px;
  /* background-color: black; */
}